* {
  box-sizing: border-box;
}

body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: rgb(177, 56, 56);
}

h1 {
  text-align: center;
  font-size: 5rem;
  color: aliceblue;
  margin: 2rem 0 2rem 0;
}
h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.8rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem 12rem 0rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
}

button:hover {
  background-color: darkkhaki;
}

button {
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0rem 1rem 0rem 0rem;
  border-radius: 1rem;
  background-color: rgb(106, 35, 35);
  color: white;
  border: none;
}

.bookshelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  max-width: 80rem;
  background-color: rgb(106, 35, 35);
  margin-top: 1rem;
  padding: 3rem;
  /* gap: 0.8rem; */
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 7.2rem;
  height: 17rem;
  padding: 0rem 0.5rem 0rem 0.6rem;
  background-color: rgb(190, 137, 137);
  /* border: solid 1px black; */
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.book:hover {
  background-color: azure;
}

.book-container {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0.5rem 0 0.5rem 0;
  line-height: 1.3;
  font-size: 1rem;
}

.info {
  border: 1px solid black;
  background-color: aliceblue;
  padding: 0rem 0.5rem 0rem 0.5rem;
  margin-bottom: 1.5rem;
}

.red {
  background-color: crimson;
}

.blue {
  background-color: aqua;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: rgb(136, 43, 136);
  color: white;
}

.green {
  background-color: rgb(80, 199, 80);
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
}
